
.icon-heart:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-cloud-flash:before { content: '\e805'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */